   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body, html {
            height: 100%;
            overflow: auto;
        }
		
		#bg-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
        
        #bg-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
        
        #hover-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            background: transparent;
            cursor: pointer;
            z-index: 10;
        }
		
		#hover-box-ind {
            position: fixed;
            top: 45%;
            left: 53%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 100px;
            background: transparent;
            cursor: pointer;
            z-index: 10;
        }
		
		#hover-box1 {
            position: fixed;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 330px;
            height: 150px;
            background: transparent;
            cursor: pointer;
            z-index: 10;
		}
		
		 #hover-box2 {
            position: fixed;
            top: 44%;
            left: 55%;
            transform: translate(-50%, -50%);
            width: 220px;
            height: 135px;
            background: transparent;
            cursor: pointer;
            z-index: 10;	
        }
		
		#text_review {
		    
			font-size: 14px;
			font-family: EightBit Atari;
			position: fixed;
            top: 55%;
            left: 78.5%;
            transform: translate(-50%, -50%);
            width: 520px;
            height: 800px;
            background: transparent;
            z-index: 10;
		
		}
		
		#text_title {
		    
			font-size: 30px;
			font-family: EightBit Atari;
			position: fixed;
            top: 48%;
            left: 78.5%;
            transform: translate(-50%, -50%);
            width: 520px;
            height: 800px;
            background: transparent;
            z-index: 10;
		
		}
		
		#arrow_back {
            position: fixed;
            top: 92%;
            left: 5%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 75px;
            background: transparent;
            cursor: pointer;
            z-index: 10;
        }
		


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 454px;
  width: 590px;
  position: fixed;
  top: 15.5%;
  left: 16.5%;
  margin: auto;
  /*background: blue;*/
}

.slideshow-buttons {
  height: 454px;
  width: 590px;
  position: fixed;
  top: 15.5%;
  left: 16.5%;
  margin: auto;
}

/* Hide the images by default 
.mySlides {
  display: none;
}*/

/* Next & previous buttons */
.prev {
	
  cursor: pointer;
  position: fixed;
  top: 73%;
  left: 45%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
	
  cursor: pointer;
  position: fixed;
  top: 73%;
  left: 50%;
  width: 40px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #E03C22;
}
